@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Rubik:wght@400;500&display=swap');

body {
  margin: 0;

  font-family: 'Open Sans', sans-serif
}

html, body {
  height: 100%;
}

a {
  color: $cDark;
  &:hover {
    color: $cDark;
  }
}

.block-row {
  background-size: cover;
  background-repeat: no-repeat;
}
.btn {
  text-transform: uppercase;
}
.btn-link {
  text-transform: uppercase;
  font-weight: 500;
  font-family: Rubik;
  font-style: normal;
  font-size: $f14px;
  line-height: 120%;
  text-decoration-line: underline;
}

html {
  font-size: #{$fbase}px;
}

input {
  outline: none;
}

img {
  max-width: 100%;
}

.h100 {
  height: 100%;
}



@media (max-width: 1430px) {
}

@include media-breakpoint-down(xl) {
}

@include media-breakpoint-up(lg) {

}
@include media-breakpoint-down(lg) {

}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
}